<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>OpenAccount</servlet-name>
        <servlet-class>Servlets.OpenAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpenIndividualAcc</servlet-name>
        <servlet-class>Servlets.OpenIndividualAcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpenCompanyAcc</servlet-name>
        <servlet-class>Servlets.OpenCompanyAcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpenSellerAcc</servlet-name>
        <servlet-class>Servlets.OpenSellerAcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StateBadUser</servlet-name>
        <servlet-class>StateBadUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BadUser</servlet-name>
        <servlet-class>Servlets.BadUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoodUser</servlet-name>
        <servlet-class>Servlets.GoodUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloseAcc</servlet-name>
        <servlet-class>Servlets.CloseAcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerOfMonth</servlet-name>
        <servlet-class>SellerOfMonth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerOfTheMonth</servlet-name>
        <servlet-class>Servlets.SellerOfTheMonth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Purchase</servlet-name>
        <servlet-class>Servlets.Purchase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Return</servlet-name>
        <servlet-class>Servlets.Return</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayOff</servlet-name>
        <servlet-class>Servlets.PayOff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Questions</servlet-name>
        <servlet-class>Servlets.Questions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Initialize_DB</servlet-name>
        <servlet-class>Servlets.Initialize_DB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpenAccount</servlet-name>
        <url-pattern>/OpenAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpenIndividualAcc</servlet-name>
        <url-pattern>/OpenIndividualAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpenCompanyAcc</servlet-name>
        <url-pattern>/OpenCompanyAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpenSellerAcc</servlet-name>
        <url-pattern>/OpenSellerAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StateBadUser</servlet-name>
        <url-pattern>/StateBadUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BadUser</servlet-name>
        <url-pattern>/BadUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoodUser</servlet-name>
        <url-pattern>/GoodUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloseAcc</servlet-name>
        <url-pattern>/CloseAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerOfMonth</servlet-name>
        <url-pattern>/SellerOfMonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerOfTheMonth</servlet-name>
        <url-pattern>/SellerOfTheMonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Purchase</servlet-name>
        <url-pattern>/Purchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Return</servlet-name>
        <url-pattern>/Return</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayOff</servlet-name>
        <url-pattern>/PayOff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Questions</servlet-name>
        <url-pattern>/Questions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Initialize_DB</servlet-name>
        <url-pattern>/Initialize_DB</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
